project:
  type: website
  output-dir: docs

website:
  navbar:
    background: dark
    search: true
    left:
      - href: index.qmd
        text: Blog
      - talks.qmd
      - notes.qmd
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



